@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Google Sheet Import</h2>
<div class="se-pre-con" style="display: none;"></div>
<div class="box-body" style="display:block;margin-top:20px;">
    @using (Html.BeginForm("Config", "Home", FormMethod.Post))
    {
        @model GoogleSheetImportWeb.Models.ConfigXMLModel

        @Html.ValidationMessage("ErrorGoogle", null, new { @class = "label label-danger" })
        <div class="config hidden">
            <label>Google Client ID</label>
            @Html.TextBoxFor(model => model.GoogleClientID, new { @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.GoogleClientID, null, new { @class = "label label-danger" })
        </div>

        <div class="config hidden">
            <label>Google Client Secret</label>
            @Html.TextBoxFor(model => model.GoogleClientSecret, new { @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.GoogleClientSecret, null, new { @class = "label label-danger" })
        </div>

        <div class="config">
            <label>Google Sheet URL</label>
            @Html.TextBoxFor(model => model.GoogleSheetUrl, new { @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.GoogleSheetUrl, null, new { @class = "label label-danger" })
        </div>

        <div class="config">
            <label>Google Sheet Name</label>
            @Html.TextBoxFor(model => model.GoogleSheetName, new { @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.GoogleSheetName, null, new { @class = "label label-danger" })
        </div>

        @Html.ValidationMessage("ErrorDatabase", null, new { @class = "label label-danger" })
        <div class="config">
            <label>SQL Server</label>
            @Html.TextBoxFor(model => model.SQLServer, new { @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.SQLServer, null, new { @class = "label label-danger" })
        </div>

        <div class="config">
            <label>SQL Username</label>
            @Html.TextBoxFor(model => model.SQLUsername, new { @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.SQLUsername, null, new { @class = "label label-danger" })
        </div>

        <div class="config">
            <label>SQL Password</label>
            @Html.TextBoxFor(model => model.SQLPassword, new { @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.SQLPassword, null, new { @class = "label label-danger" })
        </div>

        <div class="config">
            <label>Database Name</label>
            @Html.TextBoxFor(model => model.DatabaseName, new { @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.DatabaseName, null, new { @class = "label label-danger" })
        </div>

        @Html.ValidationMessage("ErrorTable", null, new { @class = "label label-danger" })
        <div class="config">
            <label>Table Name</label>
            @Html.TextBoxFor(model => model.TableName, new { @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.TableName, null, new { @class = "label label-danger" })
        </div>

        <a href="#" class="btn btn-info" onclick="ChangeAccount(); return false;">Delete Credential</a>
        <button class="btn btn-success config" type="submit" id="btn-submit">Load Data</button>
    }
</div>

@*Modal cofirm Change Account*@ 
<div class="modal" tabindex="-1" role="dialog" id="modal-change-acc">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border:none;padding-bottom:0;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModalChangeAcc(); return false;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="border:none;">
                <h3 style="margin:0;">Are you sure?</h3>
            </div>
            <div class="modal-footer" style="border:none;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="CloseModalChangeAcc(); return false;">No</button>
                <button type="button" class="btn btn-primary" id="btn-submit-change-acc">Yes</button>
            </div>
        </div>
    </div>
</div>
<script>

    //==== Submit form
    $("#btn-submit").on("click", function () {
        $(".se-pre-con").show();
    });

    //==== Submit Change Account
    function ChangeAccount() {
        $("#modal-change-acc").show();
    }
    function CloseModalChangeAcc() {
        $("#modal-change-acc").hide();
    }
    $("#btn-submit-change-acc").on("click", function () {
        $.ajax({
            url: '@Url.Action("ChangeAccount", "Home")',
            type: 'GET',
            success: function (data) {
                if (!data) {
                    alert("Unable to change account. Please try again.");
                } else {
                    alert("Success.")
                }
                $("#modal-change-acc").hide();
            },
            beforeSend: function () {
                $('.se-pre-con').show();
            },
            complete: function () {
                $('.se-pre-con').hide();
            }
        });
    });

</script>
